div{
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    color: white;
}
.dark {
    background-color: black;
    color: white;
}
.light {
    background-color: white;
    color: black;
}